{% extends 'base.html' %}

{% block title %} {{ news_item.title }} {% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html'  %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category.title }} </a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if news_item.photo %}
            <img src="{{ news_item.photo.url }}" alt="" width="350" class="mr-3">
            {% else %}
            <img src="/media/свинья.jpg" width="350" alt="">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{ news_item.title }}</h5>
                <p class="card-text"> {{ news_item.content }}</p>
            </div>
        </div>
        <div class="card-element text-end">
                <a href="{% url 'delete' news_item.pk%}">
                    <button type="submit" class="mt-2 btn btn-danger btn-sm">Удалить новость</button>
                </a>
        </div>
    </div>
    <div class="card-footer text-muted">
        {{ news_item.created_at|date:"M-Y" }}
    </div>
</div>
{% endblock %}
